In [1]:
### Turo data is extracted from json, u don't need to run it agian, but I will keep the code here
### just import car rental turo.csv

In [ ]:
### Extrat Turo date from json file and normalize the dictonaries to dataframe
import json 
import pandas as pd 
from pandas.io.json import json_normalize 
df = pd.read_json('database.json')
df.head()
owner_df = pd.concat([pd.DataFrame(json_normalize(x)) for x in df['owner']],ignore_index=True)
owner_df.head()
rate_df = pd.concat([pd.DataFrame(json_normalize(x)) for x in df['rate']],ignore_index=True)
rate_df.head()
### distanceWithUnit
distanceWithUnit_df = pd.concat([pd.DataFrame(json_normalize(x)) for x in df['distanceWithUnit']],ignore_index=True)
distanceWithUnit_df.head()
### location
location_df = pd.concat([pd.DataFrame(json_normalize(x)) for x in df['location']],ignore_index=True)
location_df.head()
### vehicle
vehicle_df = pd.concat([pd.DataFrame(json_normalize(x)) for x in df['vehicle']],ignore_index=True)
vehicle_df.head()
### Combine the data
dff=df[['rating','renterTripsTaken','reviewCount','responseRate','newListing','freeDeliveryPromotion','instantBookDisplayed','deliveryLabel']]
rate_dff=rate_df['averageDailyPrice']
distance_dff=distanceWithUnit_df['scalar']
location_dff=location_df[['city','longitude','latitude','state']]
vehicle_dff=vehicle_df[['model','make','id','listingCreatedTime','year','type','automaticTransmission']]

In [ ]:
pdList = [dff, rate_dff,distance_dff,location_dff,vehicle_dff]  # List of your dataframes
new_df = pd.concat(pdList,axis=1)
new_df.head()

In [ ]:
new_df['listingCreatedTime'] = pd.to_datetime(new_df['listingCreatedTime'],unit='ms')
new_df.id.drop_duplicates()
len(new_df.id.drop_duplicates()) 
new_df.to_csv('car rental turo.csv')

In [36]:
import pandas as pd

In [37]:
### combine turo data with population data
pop=pd.read_csv('population data.csv')
pop.head()
new_df= pd.read_csv('car rental turo.csv')
level_df=pd.read_csv('Brand Level.csv')

In [38]:
new_df['state'].unique()

array(['Iowa', 'Minnesota', 'West Virginia', 'Pennsylvania', 'Maine',
       'North Carolina', 'Michigan', 'Georgia', 'Washington', 'Oklahoma',
       'Hawaii', 'Indiana', 'Kansas', 'Arkansas', 'California',
       'Wisconsin', 'Missouri', 'Alabama', 'Arizona', 'Vermont',
       'Mississippi', 'Massachusetts', 'Montana', 'New Hampshire', 'Ohio',
       'North Dakota', 'Illinois', 'New Mexico', 'Florida', 'Wyoming',
       'Idaho', 'Virginia', 'Texas', 'Tennessee', 'Kentucky',
       'New Jersey', 'South Dakota', 'South Carolina', 'Louisiana',
       'Colorado', 'Connecticut', 'Utah', 'Rhode Island', 'Maryland',
       'Nebraska', 'Oregon', 'Delaware', 'Nevada', 'Alaska'], dtype=object)

In [39]:
df0=new_df.copy()
df0.replace({'state' : {             'WA' : 'Washington', 'NM' : 'New Mexico', 'GA' : 'Georgia',
                                    'FL' :  'Florida' , 'TX' : 'Texas' , 'NC' : 'North Carolina',
                                    'SC' : 'South Carolina', 'CT' : 'Connecticut', 'MA' : 'Massachusetts',
                                    'ME' : 'Maine', 'AL' : 'Alabama', 'MT' : 'Montana',
                                    'TN' : 'Tennessee', 'KY' : 'Kentucky', 'ID' : 'Idaho' ,
                                    'UT' : 'Utah', 'MD' : 'Maryland', 'DC' : 'Washington' ,
                                    'IA' : 'Iowa', 'OH' : 'Ohio', 'CO' : 'Colorado' ,
                                    'VA' : 'Virginia', 'MI' : 'Michigan', 'NJ' : 'New Jersey' ,
                                    'IN' : 'Indiana', 'WI' : 'Wisconsin', 'KS' : 'Kansas' ,
                                    'MO' : 'Missouri', 'NV' : 'Nevada', 'CA' : 'California' ,
                                    'LA' : 'Louisiana', 'AR' : 'Arkansas', 'IL' : 'Illinois' ,
                                    'MS' : 'Mississippi', 'NH' : 'New Hampshire', 'MN' : 'Minnesota' ,
                                    'OK' : 'Oklahoma', 'NE' : 'Nebraska', 'OR' : 'Oregon' ,
                                    'PA' : 'Pennsylvania', 'DE' : 'Delaware', 'AZ' : 'Arizona' ,
                                    'WV' : 'West Virginia', 'RI' : 'Rhode Island', 'AK' : 'Alaska',
                                    'HI' : 'Hawaii', 'VT' : 'Vermont','ND' : 'North Dakota', 'WY' : 'Wyoming',
                                    'SD' : 'South Dakota'}},
              inplace=True)
df0 = pd.merge(df0, pop, how="left", on="state")
df0['listingyear']=pd.DatetimeIndex(df0['listingCreatedTime']).year

import numpy as np
lst = []
def createList(n):

    for i in range(n,n+20):
        lst.append(i)
    return lst
yearlist=createList(2000)
df0['population'] =0
for i in range(len(yearlist)):
    df0['population'] = (np.where(df0['listingyear'] == yearlist[i], df0[str(yearlist[i])] ,df0['population']  ))
    
df0=df0.drop(['2000', '2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019'], axis=1)

In [42]:
### Combine turo data with brand level information 
df0=df0.merge(level_df, how='left', on='make')

In [44]:
df0.to_csv('car rental turo data.csv')